---
import '@styles/variables.css';
import '@styles/preflight.css';
import '@styles/global.css';
import '@styles/markdown.css';

import { SITE } from '@consts';
import { ClientRouter } from 'astro:transitions';
import Header from 'components/Header.astro';
import Footer from '@components/Footer.astro';

const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

const {
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  title = SITE.TITLE,
  description = SITE.DESCRIPTION,
  ogImage = SITE.OG_IMAGE,
  author = SITE.AUTHOR,
  pubDatetime,
  modDatetime,
} = Astro.props;

const socialImageURL = new URL(
  ogImage ?? SITE.OG_IMAGE ?? 'og-image.webp',
  Astro.url.origin
).href;

const schemaData = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  headline: `${title}`,
  image: `${socialImageURL}`,
  ...(pubDatetime && {
    datePublished: new Date(pubDatetime).toISOString(),
  }),
  ...(modDatetime && { dateModified: modDatetime.toISOString() }),
  author: [
    {
      '@type': 'Person',
      name: `${author}`,
      url: `${canonicalURL}`,
    },
  ],
};
---

<!doctype html>
<html lang=`${SITE.LOCALE ?? "en"}`>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Preload Inter fonts -->
    <link
      rel="preload"
      href="/fonts/Inter-VariableFont_opsz,wght-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta name="generator" content={Astro.generator} />

    <ClientRouter />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content={SITE.TWITTER?.CARD} />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Google JSON-LD Structured data -->
    <script type="application/ld+json" set:html={JSON.stringify(schemaData)} />

    {
      // If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
      // include google-site-verification tag in the heading
      // Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
