---
import uiIcons from '@assets/uiIcons';
import BaseLayout from '@layouts/BaseLayout.astro';
import { formatDate } from '@utils/formatDate';
import { readingTime } from '@utils/readingTime';
import { type CollectionEntry, render } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'> | CollectionEntry<'projects'>;
}

const { post } = Astro.props;

const { Content } = await render(post);

const imageUrl =
  typeof post.data.image === 'string'
    ? post.data.image
    : post.data.image?.src || '';

const ogUrl = `/${post.collection}/${post.id}.webp`;

const repoUrl = post.data?.repoUrl;
const demoUrl = post.data?.demoUrl;

const postLayoutProps = {
  canonicalURL: post.data.canonicalURL,
  title: post.data.title,
  ogImage: ogUrl,
  author: post.data.author,
  pubDatetime: post.data.pubDatetime,
  modDatetime: post.data.modDatetime,
};
---

<BaseLayout {...postLayoutProps}>
  <a href={`/${post.collection}`} id="back-to-prev" class="btn">
    <Fragment set:html={uiIcons.arrowLeft} />
    Back to {post.collection}
  </a>

  <header class="post-header">
    <div class="post-details">
      <time
        datetime={(
          post.data.modDatetime || post.data.pubDatetime
        ).toISOString()}
      >
        {
          post.data.modDatetime
            ? `Upd: ${formatDate(post.data.modDatetime)}`
            : formatDate(post.data.pubDatetime)
        }
      </time>
      {
        post.body && (
          <>
            <span class="divider">/</span>
            <div class="post-reading-time">{readingTime(post.body)}</div>
          </>
        )
      }
    </div>
    <h1 class="post-title">{post.data.title}</h1>
    {
      (repoUrl || demoUrl) && (
        <div class="post-links">
          {demoUrl && (
            <a href={demoUrl} class="styled-link demo-link">
              demo
            </a>
          )}
          <span>/</span>
          {repoUrl && (
            <a href={repoUrl} class="styled-link repo-link">
              repo
            </a>
          )}
        </div>
      )
    }

    {
      imageUrl && (
        <img
          loading="lazy"
          decoding="async"
          width="752"
          height="420"
          src={imageUrl}
          alt={post.data.title}
          class="post-img"
        />
      )
    }

    <article>
      <section class="article"><Content /></section>
    </article>
  </header>

  <style>
    #back-to-prev {
      display: inline-flex;
      gap: var(--px-8);
      margin-bottom: var(--px-40);
    }

    #back-to-prev :global(svg) {
      height: var(--px-16);
    }

    .post-details {
      display: flex;
      gap: var(--px-6);
      margin-bottom: var(--px-6);
    }

    .post-title {
      margin-bottom: var(--px-8);
      font-size: clamp(
        calc(var(--text-lg) * 1.75),
        2.5vw + var(--text-lg),
        calc(var(--text-lg) * 2.22222)
      );
      line-height: var(--leading-heading);
      font-weight: 600;
    }

    .post-links {
      margin-bottom: var(--px-32);
    }

    .post-img {
      object-fit: cover;
      border-radius: var(--radius-on-surface);
      background-color: var(--on-surface-content);
      transition: opacity var(--transition-base);
    }
  </style>

  <script is:inline>
    function setupPageElements() {
      // Handle tables
      const tables = document.querySelectorAll('.article table');
      tables.forEach(table => {
        // Check if table is already wrapped
        if (table.parentElement?.classList.contains('table-wrapper')) return;

        const wrapper = document.createElement('div');
        wrapper.className = 'table-wrapper';
        table.parentNode?.insertBefore(wrapper, table);
        wrapper.appendChild(table);
      });
    }

    setupPageElements();
    document.addEventListener('astro:after-swap', setupPageElements);
  </script>
</BaseLayout>
